[Unit]
Description=AutomotiveDemo
After=dbus.service dbus-session.service systemd-user-sessions.service
Conflicts=neptune.service

[Service]
ExecStart=/usr/bin/appcontroller /usr/bin/appman -r --dbus session -c am-config.yaml
Restart=on-failure
WorkingDirectory=/opt/automotivedemo

[Install]
WantedBy=multi-user.target
