[Unit]
Description=QtSimulator Proxy Daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/emulatorproxyd
EnvironmentFile=/etc/default/emulator

[Install]
WantedBy=multi-user.target
