[Unit]
Description=QtSimulator Proxy Daemon
After=systemd-user-sessions.service

[Service]
Type=forking
ExecStart=/usr/bin/emulatorproxyd
EnvironmentFile=/etc/default/emulator

[Install]
WantedBy=multi-user.target
