[Unit]
Description=Qt Debug Bridge Daemon
After=basic.target

[Service]
Type=forking
ExecStart=/usr/bin/qdbd-init.sh start
ExecStop=/usr/bin/qdbd-init.sh stop

[Install]
WantedBy=multi-user.target
