[Unit]
Description=Neptune3-UI-QSR
After=dbus-session.service systemd-user-sessions.service ivi-services.target
Wants=ivi-services.target
After=neptune.service
Conflicts=neptune.service

[Service]
User=root
ExecStart=/opt/neptune3/neptune3-ui-qsr-cluster
Restart=on-failure
WorkingDirectory=/opt/neptune3
EnvironmentFile=/etc/default/qt
EnvironmentFile=/etc/default/neptune-qsr
