[Unit]
Description=Neptune3-UI
After=dbus.service dbus-session@root.service systemd-user-sessions.service ivi-services.target
Wants=ivi-services.target dbus-session@root.service
Conflicts=neptune-qsr.service
Before=neptune-qsr.service
OnFailure=neptune-qsr.service

[Service]
User=root
ExecStart=/opt/neptune3/neptune3-ui -r --dbus session -c am-config-neptune.yaml
WorkingDirectory=/opt/neptune3
EnvironmentFile=/etc/default/qt
Environment=AM_STARTUP_TIMER=1
Environment=QT_QPA_EGLFS_HIDECURSOR=1

[Install]
WantedBy=multi-user.target
