[Unit]
Description=ivimedia-simulation-server
PartOf=ivi-services.target
Before=ivi-services.target

[Service]
User=root
ExecStart=/usr/bin/ivimedia-simulation-server
Restart=on-failure
Environment=SERVER_CONF_PATH=/opt/neptune3/server.conf

[Install]
WantedBy=ivi-services.target
