[Unit]
Description=D-BUS Session Message Bus.
After=dbus.service

[Service]
Type=forking
ExecStart=/usr/bin/dbus-session.init.sh start
ExecStop=/usr/bin/dbus-session.init.sh stop
Environment=HOME=/home/root

[Install]
WantedBy=multi-user.target

